.boton{
  background-color: #A1B4FF;
  width: 20%;
  height: 40%;


}


.btn-personalizado-agregar{

   background-color: #0cb397fa;
   border: none;
   color: white;
   font-weight: 600;
   border-radius: 25px;
   padding: 10px 25px;
   transition: background-color 0.3s ease;
   width: 100%;
   max-width: 300px;

}

.link{
   
  color:white;
}

.card-footer{

   border-bottom-right-radius: 20%;
}

.button-index{
  margin-left:0.3%;
  margin-top:0.3%;
  background: #B0f0A5;
  border: none;
  color: white;
  padding: 12px 25px;
  border-bottom-right-radius: 50px; 
  box-shadow: 0 4px 8px rgba(108, 117, 125, 0.3);
  transition: all 0.3s ease;
 
}



